*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 20px 0;
  background-color: rgba(255, 236, 125, 0.363);
  overflow: hidden;
}

#new-game {
  visibility: hidden;
}

#main {
  visibility: hidden;
}

.modal{
  color: blueviolet;
}

h1 {
  color: blueviolet;
  background: gold;
  font-size: 65px;
  line-height: 64px;
  font-weight: 700;
  float: left;
  padding: 10px;
}

#counter {
  color: red;
  font-size: 55px;
  line-height: 54px;
  font-weight: 700;
  float: left;
  padding: 10px;
}


#game {
  max-width: 90%;
  max-height: 85%;
  background-color: #6589f9;
  display: flex; 
  margin-left: 20%;
  margin-right: 20%;
  padding: 3%;
  border-radius: 4px;
	box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
}

.grid {
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card {
    border: solid 2px black;
  position: relative;
  
    border-radius: 3px;
  -webkit-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  margin: 5px;
  box-shadow: 1px 1px 1px rgba(0,0,0,1);
}

.card,
.back,
.front {
    
  height: 150px;
  width: 150px;
}

.back,
.front {
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.front {
    
    border-radius: 3px;
  background: rgb(255, 231, 203) url('../img/window.jpg') no-repeat center center / contain;
}

.back {
    
    border-radius: 3px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: rgb(255, 231, 203);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.selected {
    
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.match .front {
    background: rgb(254, 214, 206) url('../img/popup-bg.jpg') no-repeat center center / contain;
}


.progress {
  margin-top: 10px;
  background-color: gold;
  border: 2px solid white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.514);
}

.progress-bar{
  border-right: 1px solid gray;
}



@media only screen and (max-width: 1280px) {
  #game {
    max-width: 100%;
    max-height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 3%;
    border-radius: 3px;
  }

  .card,
  .back,
  .front {
    height: 125px;
    width: 125px;
  }
}


@media only screen and (max-width: 780px) {
  .card,
  .back,
  .front {
    height: 100px;
    width: 100px;
  }
}

@media only screen and (max-width: 600px) {
  .card,
  .back,
  .front {
    height: 50px;
    width: 50px;
  }
}