*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 20px 0;
  background-color: white;
}

.modal {
    z-index: 1;
}

#game {
    max-width: 80%;
    max-height: 75%;
    background-color: #6589f9;
    display: flex; 
    margin-left: 20%;
    margin-right: 20%;
    padding: 5%;
    border-radius: 4px;
	box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
}

.grid {
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card {
    border: solid 2px black;
  position: relative;
  
    border-radius: 3px;
  -webkit-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  margin: 5px;
  box-shadow: 1px 1px 1px rgba(0,0,0,1);
}

.card,
.back,
.front {
    
  height: 150px;
  width: 150px;
}

.back,
.front {
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.front {
    
    border-radius: 3px;
  background: rgb(255, 231, 203) url('../img/window.jpg') no-repeat center center / contain;
}

.back {
    
    border-radius: 3px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: rgb(255, 231, 203);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.selected {
    
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.match .front {
    background: rgb(254, 214, 206) url('../img/popup-bg.jpg') no-repeat center center / contain;
}


.wrap {
    margin: auto;
    z-index: 1;
  }
  
  .modal {
    background-color: #fff;
    padding: 2em 3em;
    text-align: center;
    border-radius: .5em;
    display: block;
    &.is-active { display: block; }
  }
  
  .modal-image {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #48DB71;
    padding: 11px 10px 2px;
    margin-bottom: 2em;
  }
  
  h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: .5em;
  }
  
  p {
    margin-bottom: 2em;
    color: #666;
  }
  
  .btn-open {
    display: none;
    &.is-active { display: block; }
  }
  
  button {
    font-size: 1.25em;
    font-weight: bold;
    background-color: #000;
    border: none;
    padding: .5em 1em;
    color: #fff;
    box-shadow: 0 0 0 2px #000 inset;
    border-radius: .25em;
    cursor: pointer;
    transition: background .4s ease, color .4s ease;
    
    &:hover {
      box-shadow: 0 0 0 2px #000 inset;
      color: #000;
      background-color: transparent;
    }
  }
  
  